<ul class="nav navbar-nav" id="ulmenulist">
    <li class="active">
        <a href="@Url.Action("Index", "Home")" class="effect-3">Home</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Our School
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=1 })">Principals Message</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=2  })">Photo Tour</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=3  })">Property </a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=4  })">School Care </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Learning
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id= 9})">Sports</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=5 })">Culture</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=6 })">Learning 2018</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Our People
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=6 })">School Staff</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=7 })">Board of Trust</a>
            </li>
            <li>
                <a href="@Url.Action("OurSchool", "Home",new {id=8 })">Friend Of School</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="@Url.Action("OurSchool", "Home",new {id=16 })" class="effect-3">Newsletter</a>
    </li>
    <li>
        <a href="@Url.Action("OurSchool", "Home",new {id=17 })" class="effect-3">Information</a>
    </li>
    <li>
        <a href="@Url.Action("OurSchool", "Home",new {id=19 })" class="effect-3">Gallery</a>
    </li>
    <li>
        <a href="@Url.Action("OurSchool", "Home",new {id= 18})" class="effect-3">Contact Us</a>
    </li>

</ul>
    <script>

        //$('#ulmenulist').append('');
    </script>
